$black: #000000;
$white: #FFFFFF;
$darkBlue100: #000080; 
$darkBlue200: #000073;
$darkBlue300: #000066;
$darkBlue400: #00005a;
$darkBlue500: #00004d;
$darkBlue600: #000040;
$darkBlue700: #000033;
$darkBlue800: #000026;
$darkBlue900: #00001a;
$blue100: #00C0CD;
$blue200: #3498DB;
$blue300: #3B82F6;
$blue400: #2563EB;
$blue500: #1D4ED8;

$orange300: #DB7734;