$black: #000000;
$white: #FFFFFF;
$darkBlue100: #000080; 
$darkBlue200: #000073;
$darkBlue300: #000066;
$darkBlue400: #00005a;
$darkBlue500: #00004d;
$darkBlue600: #000040;
$darkBlue700: #000033;
$darkBlue800: #000026;
$darkBlue900: #00001a;
$blue100: #00C0CD;
$blue200: #0097DC;