@import '../colors';

// ! HERO
.heroSection {
  height: 100vh;
  background-color: $darkBlue900;
  position: relative;
  overflow: hidden;
}

.shortDescriptionContainer {
  top: 0;
  left: 0;
  height: 95vh;
  width: 100%;
  display: flex;
  position: absolute;
  transition: ease;
}

.shortDescription {
  flex: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;

  .short{
    display: flex;
    align-items: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    margin-right: 1.25rem;
    animation: fadeIn 1s both ease 1;
    animation-delay: 6s;

    a {
      margin: 0.5rem;
    }

    .linkIcon {
      color: white;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .fullName {
    background-color: $darkBlue900;
    position: relative;
    z-index: 1;
  }

  .fullName h1 {
    font-family: 'Pacifico', cursive;
    padding: 0 0.2rem;
    font-size: 2.5rem;
    letter-spacing: 2px;
    background: linear-gradient(90deg, $blue500, $blue200);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wideText 2s both ease;
    animation-delay: 3.5s;

    &:nth-child(2) {
      display: none;
    }
  }

  & p {
    font-size: 1.75rem;
    font-weight: 600;
  }

  .viewWorkBtn {
    width: fit-content;
    margin-top: 1rem;
    background-color: $blue400;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    padding: 0.625rem 0.875rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    animation: fadeIn 1s both ease 1;
    animation-delay: 5.5s;
    color: white;

    & span {
      margin-left: 0.375rem;
    }

    &:hover {
      background-color: $blue500;
    }
  }
}

.nameTitle {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 7.5rem;
  animation: textLightIn 5s both ease-in-out;
  animation-delay: 5s;

  & h1 {
    position: absolute;
  }

  & h1:nth-child(1) {
    color: $orange300;
    text-shadow: -2px 2px 0px $darkBlue400,
      -4px 4px 0px $darkBlue400,
      -6px 6px 0px $darkBlue400,
      -8px 8px 0px $darkBlue400,
      -10px 10px 10px rgba(177, 223, 242, 0.75),
      -10px 10px 50px rgba(177, 223, 242, 0.65);
  }

  & h1:nth-child(2) {
    display: none;
    color: $blue200;
    animation: textWave 3s ease-in-out infinite;
  }
}

.wavyBlue {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  max-height: 100vh;
}

.waveParallax>use {
  animation: waving 12s linear infinite;
}

.waveParallax>use:nth-child(1) {
  animation-delay: -2s;
}

.waveParallax>use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.waveParallax>use:nth-child(3) {
  animation-delay: 0s;
  animation-duration: 5s;
}

.waveParallax>use:nth-child(4) {
  animation-delay: -4s;
  animation-duration: 4s;
}

.scrollDown {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  z-index: 10;
  height: 3.25rem;
  width: 1.75rem;
  border: white 2px solid;
  border-radius: 3rem;
  cursor: pointer;
  animation: fadeIn 1s ease;
  animation-delay: 5s;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 3px white solid;
    width: 0.5rem;
    height: 0.5rem;
    transform: translate(-50%, -100%) rotate(45deg);
    border-left: transparent;
    border-top: transparent;
    animation: scrollDown 1s ease-in-out infinite;
  }

  &::after {
    top: 30%;
    animation-delay: .3s;
  }
}

@keyframes scrollDown {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 90%;
  }
}

@keyframes textLightIn {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.7;
  }

  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    opacity: 0.35;
  }

  40%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    opacity: 1;
  }
}

@keyframes waving {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: none;
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes textWave {

  0%,
  100% {
    clip-path: polygon(0% 46%, 16% 45%, 34% 52%, 50% 61%, 68% 65%, 85% 61%, 100% 53%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 59%, 18% 67%, 36% 70%, 51% 66%, 66% 56%, 82% 49%, 100% 4%, 100% 100%, 0% 100%);
  }
}

@keyframes titleWave {

  0%,
  100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@keyframes wideText {
  0% {
    opacity: 0;
    color: $darkBlue900;
    margin-bottom: -2.5rem;
  }

  30% {
    letter-spacing: 6px;
    margin-bottom: -2.5rem;
  }

  85% {
    letter-spacing: 2px;
    margin-bottom: -2.5rem;
  }
}

@keyframes wideText4 {
  0% {
    opacity: 0;
    color: $darkBlue900;
    margin-bottom: -2.5rem;
  }

  30% {
    letter-spacing: 4px;
    margin-bottom: -2.5rem;
  }

  85% {
    letter-spacing: 2px;
    margin-bottom: -2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .shortDescriptionContainer {
    flex-direction: column-reverse;
  }

  .nameTitle {
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    font-size: 10rem;
    animation-delay: 0s;
  }

  .shortDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .descContainer {
      width: 100%;
      padding-bottom: 10rem;
    }

    .short{
      align-items: flex-start;
    }

    .links{
      margin-top: 1rem;
    }

    .fullName h1 {
      white-space: nowrap;
      font-size: 3.25rem;
    }

    .viewWorkBtn {
      margin-top: 1rem;
      border-radius: 0.5rem;
      padding: 1rem 1.25rem;
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 768px) {
  .nameTitle {
    flex: 0.75;
    font-size: 8rem;
  }

  .shortDescription{

    .fullName h1 {
      font-size: 2.75rem;
    }
  }


  .wavyBlue {
    bottom: 6.5rem;
  }

  .waveExtend {
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 6.5rem;
    width: 100%;
    background-color: $darkBlue400;
  }

  .scrollDown {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .nameTitle {
    flex: 0.75;
    font-size: 5.75rem;
  }

  .shortDescription {
    flex: 1.25;

    .descContainer {
      padding-bottom: 5rem;
    }

    .short{
      width: 100%;
      max-width: 18rem;
      flex-direction: column;
      align-items: flex-start;
    }

    .links {
      flex-direction: row;
  
      a {
        margin: 0 1.25rem 0 0.25rem;
      }
    }

    .fullName {
      background-color: $darkBlue900;
      position: relative;
    }

    .fullName h1 {
      white-space: nowrap;
      font-size: 2.25rem;

      & span {
        display: none;
      }

      &::after {
        content: 'Lukas Tanto';
      }
    }

    & p {
      font-size: 1.25rem;
    }

    .viewWorkBtn {
      margin-top: 0.75rem;
      border-radius: 0.25rem;
      padding: 0.625rem 0.875rem;
      font-weight: 600;
      font-size: 1rem;

      & span {
        margin-left: 0.375rem;
      }

      &:hover {
        background-color: $blue500;
      }
    }
  }
}

@media screen and (min-width: 2500px) {
  .shortDescription{
    .fullName h1 {
      font-size: 6em;
    }

    & p {
      font-size: 3em;
    }

    .viewWorkBtn {
      font-size: 2em;
      padding: 1rem 1.5rem;
      font-weight: normal;

      & span {
        margin-left: 1rem;
      }
    }
  }

  .nameTitle {
    font-size: 14.5em;
  }
}