@import '../colors';

.skillSection{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient($darkBlue600, $darkBlue700);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.container{
  width: 90%;
  max-width: 1024px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.skillDescription{
  flex: 1;
  width: 100%;

  .title{
    font-size: 4rem;
  }

  span{
    color: $orange200;
    display: inline-block;
    transition: all .3s ease-in-out;
  }

  span:hover{
    animation: letterAnimation 1s both;
  }
}

.otherSkills{
  flex: 1;
  width: 100%;
  height: 100%;
}

@keyframes letterAnimation {
  0%{
    transform: scale3d(1,1,1);
  }
  30%{
    transform: scale3d(1.25,0.75,1);
  }
  40%{
    transform: scale3d(0.75,1.25,1);
  }
  50%{
    transform: scale3d(1.15,0.85,1);
  }
  65%{
    transform: scale3d(0.95,1.05,1);
  }
  75%{
    transform: scale3d(1.05,0.95,1);
  }
  100%{
    transform: scale3d(1,1,1);
  }
}

@media screen and (max-width: 768px) {
  .container{
    flex-direction: column;
  }
}