@import '../colors';

.skillSection {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient($darkBlue600, $darkBlue700);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 4rem 0;
  position: relative;
}

.container {
  width: 90%;
  max-width: 1024px;
  height: 100%;

  .title {
    width: 100%;
    text-align: center;
    font-size: 4rem;

    span {
      color: $orange200;
      display: inline-block;
      transition: all .3s ease-in-out;
    }

    span:hover {
      animation: letterAnimation 1s both;
    }
  }
}

.skillsContainer {
  position: relative;
  z-index: 10;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;

  .skillGroup {
    border-radius: 1rem;
    background-color: $darkBlue400;

    .skillBtn {
      border: none;
      border-radius: 1rem;
      background-color: transparent;
      color: white;
      width: 100%;
      padding: 1rem 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .chevron {
        transition: all 1s ease;
      }

      .skillTitle {
        flex: 1;
        text-align: start;
        margin: 0 1rem;

        & h2 {
          font-size: 1.5em;
        }

        & p {
          font-size: .9em;
          color: $blue100;
          font-weight: 600;
        }
      }

      & span {
        flex: 1;
        text-align: start;
        margin: 0 1rem;
        font-size: 1.5em;
        font-weight: bold;
        margin-top: -0.2rem;
        text-transform: capitalize;
      }
    }

    .skillItems {
      margin-top: 0;
      overflow: hidden;
      max-height: 0;
      transition: all 2s ease-out;

      .skillItem {
        padding: 0rem 1rem 1.5rem 2.5rem;
        display: flex;
        align-items: center;

        & img {
          height: 1.5rem;
          width: 2rem;
          object-fit: contain;
          object-position: left;
        }

        & span {
          font-weight: 600;
          margin-left: .75rem;
          color: $blue100;
        }
      }
    }
  }
}

.whiteBg {
  background-color: white;
  border-radius: .35rem;
  object-position: center !important;
}

.skillsContainer .active {
  .chevron {
    transform: rotateZ(180deg);
  }

  .skillBtn {
    padding: 1rem 1.5rem 1.5rem;
  }

  .skillItems {
    max-height: 100vh;
  }
}

.fishContainer {
  & img {
    position: absolute;
    z-index: 5;
  }

  & img:nth-child(1) {
    bottom: 5rem;
    height: 4rem;
    right: -10rem;
    animation: fishFromRight 25s linear infinite;
    animation-delay: 1s;
  }

  & img:nth-child(2) {
    top: 10rem;
    height: 3rem;
    left: -10rem;
    animation: fishFromLeft 20s linear infinite;
    animation-delay: 3s;
  }

  & img:nth-child(3) {
    top: 3rem;
    height: 5rem;
    right: -10rem;
    animation: fishFromRight 30s linear infinite;
    animation-delay: 2s;
  }

  & img:nth-child(4) {
    top: 15rem;
    height: 6rem;
    right: -10rem;
    animation: fishFromRight 22s linear infinite;
    animation-delay: 5s;
  }

  & img:nth-child(5) {
    bottom: 40rem;
    height: 6rem;
    left: -10rem;
    animation: fishFromLeft 20s linear infinite;
  }

  & img:nth-child(6) {
    bottom: 22rem;
    height: 7rem;
    left: -10rem;
    animation: fishFromLeftFlip 24s linear infinite;
    animation-delay: 4s;
  }

  & img:nth-child(7) {
    bottom: 12rem;
    height: 8rem;
    left: -10rem;
    animation: fishFromLeftFlip 24s linear infinite;
    animation-delay: 2s;
  }

  & img:nth-child(8) {
    top: 30rem;
    height: 7rem;
    right: -10rem;
    animation: fishFromRight 25s linear infinite;
    animation-delay: 8s;
  }
}

@keyframes fishFromRight {
  0% {
    right: -10rem;
    transform: translateY(2rem);
  }

  20% {
    transform: translateY(2rem);
  }

  30% {
    transform: translateY(4rem);
  }

  40% {
    transform: translateY(3rem);
  }

  50% {
    transform: translateY(1rem);
  }

  60% {
    transform: translateY(3rem);
  }

  70% {
    transform: translateY(3rem);
  }

  80% {
    transform: translateY(2rem);
  }

  100% {
    right: 100vw;
  }
}

@keyframes fishFromLeft {
  0% {
    left: -10rem;
    transform: translateY(1rem);
  }

  20% {
    transform: translateY(1rem);
  }

  30% {
    transform: translateY(3rem);
  }

  40% {
    transform: translateY(5rem);
  }

  50% {
    transform: translateY(2rem);
  }

  60% {
    transform: translateY(3rem);
  }

  70% {
    transform: translateY(3rem);
  }

  80% {
    transform: translateY(1rem);
  }

  100% {
    left: 100vw;
  }
}

@keyframes fishFromLeftFlip {
  0% {
    left: -10rem;
    transform: scaleX(-1) translateY(1rem);
  }

  20% {
    transform: scaleX(-1) translateY(1rem);
  }

  30% {
    transform: scaleX(-1) translateY(3rem);
  }

  40% {
    transform: scaleX(-1) translateY(5rem);
  }

  50% {
    transform: scaleX(-1) translateY(2rem);
  }

  60% {
    transform: scaleX(-1) translateY(3rem);
  }

  70% {
    transform: scaleX(-1) translateY(3rem);
  }

  80% {
    transform: scaleX(-1) translateY(1rem);
  }

  100% {
    left: 100vw;
    transform: scaleX(-1);
  }
}

// .skills {
//   margin-top: 2rem;
//   width: 100%;

//   .skill5 {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
//     gap: .5rem;
//   }

//   .skill4 {
//     margin-top: 2rem;
//     padding: 0 4rem;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     gap: .5rem;
//   }

//   .skill3 {
//     margin-top: 2rem;
//     padding: 0 8rem;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     gap: .5rem;
//   }

//   .skill2 {
//     margin-top: 2rem;
//     padding: 0 12rem;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: .5rem;
//   }

//   .skillItem {
//     text-align: center;

//     img {
//       height: 3.5rem;
//       width: 3.5rem;
//       object-fit: contain;
//       object-position: center;
//     }

//     h4 {
//       font-weight: 500;
//       font-size: 1.1em;
//     }
//   }
// }

// .slideContainer {
//   margin-top: 2rem;
// }

// .skillSliding {
//   width: 100%;

//   &:nth-child(even) {
//     animation: sliding 25s linear infinite;
//   }

//   &:nth-child(odd) {
//     animation: sliding 25s linear infinite reverse;
//   }

//   span {
//     line-height: 1;
//     white-space: nowrap;
//     font-size: 5vw;
//     font-weight: 900;
//     text-shadow: #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px;
//     color: $darkBlue700;
//   }

//   span:nth-child(even) {
//     font-style: italic;
//   }

//   span::before {
//     content: "--";
//     margin: 0 1rem;
//   }
// }

@keyframes sliding {
  0% {
    transform: translateZ(0);
  }

  100% {
    transform: translate3d(-55vw, 0, 0);
  }
}

@keyframes letterAnimation {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pushDown {
  0% {
    height: 0;
  }

  100% {
    height: fit-content;
  }
}

@media screen and (max-width: 1024px) {
  .skillsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .skillsContainer {
    grid-template-columns: 1fr;
  }

  .container {
    .title {
      width: 100%;
      text-align: center;
      font-size: 2.75em;
    }
  }

  .skills {
    .skill5 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem .5rem;

      div:nth-child(3) {
        grid-column: 1 / span 2;
      }
    }

    .skill4 {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem .5rem;
    }

    .skill3 {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem .5rem;

      div:nth-child(1) {
        grid-column: 1 / span 2;
      }
    }

    .skill2 {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem .5rem;
    }
  }
}

@media screen and (min-width: 2500px) {
  .fishContainer {

    & img:nth-child(1) {
      bottom: 8rem;
      height: 8rem;
      right: -10rem;
      animation: fishFromRight 30s linear infinite;
      animation-delay: 1s;
    }

    & img:nth-child(2) {
      top: 16rem;
      height: 6rem;
      left: -10rem;
      animation: fishFromLeft 25s linear infinite;
      animation-delay: 3s;
    }

    & img:nth-child(3) {
      top: 8rem;
      height: 12rem;
      right: -12rem;
      animation: fishFromRight 30s linear infinite;
      animation-delay: 2s;
    }

    & img:nth-child(4) {
      top: 28rem;
      height: 15rem;
      right: -15rem;
      animation: fishFromRight 25s linear infinite;
      animation-delay: 5s;
    }

    & img:nth-child(5) {
      bottom: 52rem;
      height: 12rem;
      left: -12rem;
      animation: fishFromLeft 27s linear infinite;
    }

    & img:nth-child(6) {
      bottom: 36rem;
      height: 10rem;
      left: -10rem;
      animation: fishFromLeftFlip 24s linear infinite;
      animation-delay: 4s;
    }

    & img:nth-child(7) {
      bottom: 20rem;
      height: 12rem;
      left: -12rem;
      animation: fishFromLeftFlip 26s linear infinite;
      animation-delay: 2s;
    }

    & img:nth-child(8) {
      top: 52rem;
      height: 13rem;
      right: -13rem;
      animation: fishFromRight 28s linear infinite;
      animation-delay: 8s;
    }
  }

  .container {
    max-width: 1536px;

    .title {
      font-size: 8rem;
      margin-bottom: 2rem;
    }
  }

  .skillsContainer {
    gap: 1.5rem;

    .skillGroup {

      .skillBtn {

        & span {
          font-size: 2em;
          font-weight: 500;
        }
      }

      .skillItems .skillItem {
        padding: 0rem 1rem 1.5rem 3.5rem;
        
        & img {
          height: 2rem;
          width: 3rem;
        }

        & span {
          font-size: 1.45em;
          margin-left: 1.25rem;
        }
      }
    }
  }

  .skillsContainer .active {
    .chevron {
      transform: rotateZ(180deg);
    }

    .skillBtn {
      padding: 1rem 1.5rem 1.5rem;
    }

    .skillItems {
      max-height: 100vh;
    }
  }
}